<!-- 

The provided code snippet is part of a Razor view in an ASP.NET Core application, specifically a login page (Login.cshtml). The code uses HTML and Razor syntax to create a responsive layout for the login form.

The <div class="d-flex justify-content-center"> element is a Bootstrap utility class that applies Flexbox layout properties to the div. The d-flex class makes the div a flex container, enabling the use of Flexbox properties for its child elements. The justify-content-center class centers the child elements horizontally within the flex container. This ensures that the login form is centered on the page, providing a visually appealing and user-friendly layout.

Inside this flex container, another div with the class col-md-3 white is used to define the width and background color of the login form. The col-md-3 class is a Bootstrap grid system class that sets the width of the div to 3 out of 12 columns on medium and larger screens. The white class is likely a custom CSS class that sets the background color of the div to white, making the form stand out against the page background.

Overall, this code snippet sets up a responsive and centered layout for the login form, ensuring that it is visually appealing and accessible on various screen sizes.


Written by Alex Chalyy on 2/14/2025.

-->

@model AuthApp.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="d-flex justify-content-center">
    <div class="col-md-3 white">
        <h2 class="text-center">Login</h2>

        <form asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <br></br>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary log-in-button">Login</button>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}