@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        @if (!User.Identity.IsAuthenticated)    {
            <div class="welcome-section">
                <h1 class="display-1">Welcome</h1>
            </div>
            <!-- Add Register and Login Buttons -->
            <!--<div class="mt-4">
                <a class="btn btn-primary" asp-controller="Account" asp-action="Register">Register</a>
                <a class="btn btn-success" asp-controller="Account" asp-action="Login">Login</a>
            </div>-->
        }
    </div>
</div>